{% extends "base_pages/base.html" %}
{% load static %}

{% block title %}Liên hệ{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
{% endblock style %}

{% block script %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock script %}

{% block header %}
    {% include "base_pages/header.html" %}
{% endblock header %}

{% block content %}
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p class="my-3">
                        Bạn muốn liên lạc? Điền vào mẫu dưới đây để gửi tin nhắn cho tôi và tôi sẽ liên lạc lại với bạn sớm nhất có thể!
                    </p>
                    <div class="my-3">
                        <form>
                            <div class="mb-3">
                                <label for="name" class="form-label">Họ tên</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter your name" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="subject" class="form-label">Chủ đề</label>
                                <input type="text" class="form-control" id="subject" placeholder="Enter subject" required>
                            </div>
                            
                            <div class="mb-3">
                                <label for="message" class="form-label">Nội dung</label>
                                <textarea class="form-control" id="message" rows="4" placeholder="Type your message here" required></textarea>
                            </div>
                            
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" style="padding: 2px 30px; border-radius: 24px; border: 1px solid white;">Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
